.headerAbout .row {
  overflow: hidden;
}
.headerAbout > .headerTitle {
  z-index: 1;
  position: absolute;
  top: 15%;
}
.headerAbout h1 {
  font-size: 3rem;
  background: var(--pri);
  clip-path: polygon(0 0, 100% 0%, 101% 80%, 0% 100%);
}
.headerAbout {
  overflow-y: none;
  position: relative;
  background: #1e1e1e;
  height: 100%;
  min-height: 200px;
  clip-path: polygon(0 0, 100% 0%, 101% 80%, 0% 100%);
}
.headerAbout ul {
  margin-top: 2vh;
  padding-left: 4vh !important;
}
.headerAbout .bg-navTop {
  position: absolute;
  bottom: 0;
  font-size: 2vh;
  background: var(--comple1);
  height: 100%;
  user-select: none;
}
.headerAbout .list-NavTop {
  list-style-type: decimal;
}
.headerAbout .list-NavTop li {
  position: relative;
  top: -16vw;
  padding-left: 2vh;
  font-size: 1.5vw;
  text-align: left;
  letter-spacing: 0.1vh;
}
@media (min-width: 2000px) {
  .headerAbout .list-NavTop li {
    top: -12vw;
    font-size: 1vw;
  }
  .headerAbout {
    min-height: 400px;
  }
}
@media (max-width: 1450px) {
  .headerAbout .list-NavTop li {
    top: -21vw;
    font-size: 2vw;
  }
}
@media (max-width: 1150px) {
  .headerAbout .list-NavTop li {
    top: -10vw;
    font-size: 2vw;
  }
}
@media (max-width: 1150px) and (max-height: 750px) {
  .headerAbout .list-NavTop li {
    top: -20vw;
    font-size: 2vw;
  }
}
@media (max-width: 1150px) and (max-height: 1400px) {
  .headerAbout .list-NavTop li {
    top: -18vw;
    font-size: 2vw;
  }
}
@media (max-width: 980px) {
  .headerAbout .list-NavTop li {
    top: -14vw;
    font-size: 2vw;
  }
}
@media (max-width: 725px) {
  .headerAbout .list-NavTop li {
    top: -39vw;
    font-size: 1.5rem;
  }
}
@media (max-width: 550px) {
  .headerAbout .list-NavTop li {
    top: -25vw;
    left: -5vw;
    font-size: 1rem;
  }
}
@media (max-width: 430px) {
  .headerAbout .list-NavTop li {
    top: -19vw;
    left: -8vw;
    font-size: 0.8rem;
  }
}
@media (max-width: 300px) {
  .headerAbout .list-NavTop li {
    top: -7vw;
    left: -9vw;
    font-size: 0.6rem;
  }
}
.headerAbout .bg-navTop .typed {
  color: #e6e6e6;
}
.headerAbout .bg-navTop li .blue1 {
  color: #9cdcfe;
}
.headerAbout .bg-navTop li .blue2 {
  color: #569cd6;
}
.headerAbout .bg-navTop li .purple {
  color: #a586b6;
}
.headerAbout .bg-navTop li .yellow {
  color: #dccd79;
}
.headerAbout .bg-navTop li .green1 {
  color: #438a55;
}
.headerAbout .bg-navTop li .green2 {
  color: #4ec9b0;
}
.headerAbout .bg-navTop li .red {
  color: #ce9178;
}
.headerPortfolio {
  position: relative;
}
.headerPortfolio .row {
  overflow: hidden;
}
.headerPortfolio > .headerTitle {
  z-index: 1;
  position: absolute;
  bottom: 25%;
}
.headerPortfolio h1 {
  font-size: 3rem;
  background: var(--pri);
  clip-path: polygon(0 0, 100% 0%, 101% 80%, 0% 100%);
}
.headerPortfolio {
  overflow-y: none;
  position: relative;
  background: #fff;
  height: 120.5%;
  min-height: 200px;
  clip-path: polygon(0 0, 100% 0%, 101% 80%, 0% 100%);
}
.headerPortfolio .bg-navCenter .bg-fluid {
  width: 100vw;
  height: auto;
  position: sticky;
  top: 0;
  display: block;
}
.headerPortfolio .bg-navCenter .bg-browser {
  pointer-events: none;
  position: relative;
  height: 100%;
  background-color: #ffffff;
}
.headerPortfolio .bg-navCenter .bg-browser svg {
  margin: 0 0.3vw;
}
.headerPortfolio .bg-navCenter .bg-browser .bg-browserSearch {
  position: relative;
  color: var(--comple1);
}
.headerPortfolio .bg-navCenter .bg-browser .bg-browserSearch input {
  pointer-events: none;
  border: 0.3vw solid #b9d5f8;
  border-radius: 2vw;
  background-color: #ffffff;
  width: 75vw;
  height: 3vw;
  margin: 0.5vw 0;
}
.headerPortfolio .bg-navCenter .bg-browser .bg-browserSearch input:focus {
  outline: none;
}
.headerPortfolio .bg-navCenter .bg-browser .bg-browserSearch > span {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0.8vw;
  padding-left: 3vw;
  font-size: 1.5vw;
}
.headerPortfolio .bg-navCenter .bg-browser .bg-browserSearch svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0.8vw;
}
@media (max-width: 767px) {
  .headerPortfolio .bg-navCenter .bg-browser .bg-browserSearch input {
    width: 100vw;
    height: 5vw;
    position: sticky;
    top: 0;
    display: block;
  }
  .headerPortfolio .bg-navCenter .bg-browser .bg-browserSearch > span {
    font-size: 3vw;
    padding-left: 4.5vw;
  }
  .headerPortfolio
    .bg-navCenter
    .bg-browser
    .bg-browserSearch
    svg:nth-child(2) {
    top: 1vw;
    font-size: 4vw !important;
  }
}
.headerPortfolio .bg-navCenter .bg-browser .bg-browserAccount {
  line-height: 0;
  border: 0.3vh solid #e3e3e3;
  border-radius: 2vw;
  margin-left: 0.5vw;
}
.headerPortfolio .bg-navCenter .bg-browser .bg-browserAccount svg {
  margin: 0;
}
.headerPortfolio .bg-navCenter .bg-browser .bg-browserAccount span {
  pointer-events: none;
  font-size: 1.5vw;
  margin: 0 0.5vw;
}
.headerPortfolio .bg-navCenter .bg-browser svg:last-child {
  margin: 0;
}
.headerPortfolio .bg-navCenter .bg-browser:before {
  content: "";
  display: block;
  position: absolute;
  top: 4.5vw;
  height: 0.5%;
  width: 100%;
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.1);
}
.headerContact .row {
  overflow: hidden;
}
.headerContact > .headerTitle {
  z-index: 1;
  position: absolute;
  top: 40%;
}
.headerContact h1 {
  font-size: 3rem;
  background: var(--pri);
  clip-path: polygon(0 0, 100% 0%, 101% 80%, 0% 100%);
}
@media (min-width: 2500px) {
  .headerContact h1 {
    font-size: 2vw;
    margin-right: 25rem;
  }
}
@media (max-width: 1080px) {
  .headerContact h1 {
    font-size: 1.8rem;
    width: 80vw;
  }
}
.headerContact {
  overflow-y: none;
  position: relative;
  min-height: 200px;
  clip-path: polygon(0 0, 100% 0%, 101% 80%, 0% 100%);
}
.headerContact .bg-navBottom {
  position: absolute;
  top: 0;
  background: 0 86% / cover url(../media/bg-navBottom.jpg);
  filter: blur(0.5vh);
  height: 110%;
  width: 100%;
  user-select: none;
}
.headerContact .bg-navBottomPhone {
  position: absolute;
  right: 0;
  top: 0;
  background: 100% 28% / cover url(../media/phone.svg) no-repeat;
  height: 100%;
  width: 51%;
}
.headerContact .bg-navBottomPhone span {
  pointer-events: none;
  position: absolute;
  top: 10%;
  left: 4%;
  font-size: 2.5vw;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
@media (max-height: 400px) {
  .headerContact .bg-navBottomPhone span {
    pointer-events: none;
    position: absolute;
    top: 13%;
    left: 4%;
    font-size: 2.5vw;
    width: 100%;
    height: 100%;
    color: #ffffff;
  }
}
@media (max-width: 650px) {
  .headerContact .bg-navBottomPhone span {
    pointer-events: none;
    position: absolute;
    top: 13%;
    left: 4%;
    font-size: 3vw;
    width: 100%;
    height: 100%;
    color: #ffffff;
  }
}
@media (max-width: 250px) {
  .headerContact .bg-navBottomPhone span {
    pointer-events: none;
    position: absolute;
    top: 13%;
    left: 4%;
    font-size: 5vw;
    width: 100%;
    height: 100%;
    color: #ffffff;
  }
  .headerContact .bg-navBottomPhone {
    position: absolute;
    right: 0;
    top: 0;
    background: 100% 28% / cover url(../media/phone.svg) no-repeat;
    height: 100%;
    width: 100%;
  }
}
.Error404 {
  background-color: var(--pri);
}
.Error404 img {
  max-width: 450px;
  margin: 0 auto;
}
.Error404 .Link404 {
  text-align: center;
  text-decoration: none;
  color: var(--sec);
  transition: ease-in-out 0.5s all;
}
.Error404 .Link404:hover {
  text-decoration: none;
  color: var(--sec);
  transform: scale(1.05);
}

/* Dark mode */
.dark .Error404 .Link404 {
  color: var(--sec);
}
