.heigh-ajust {
  min-height: 63vh;
}
.about .firstSection h1 {
  font-size: 2.5rem;
}
.about .firstSection h1 span {
  display: block;
}
.about .firstSection .portrait header > h1 {
  opacity: 0;
}
.about .firstSection .portrait img {
  box-shadow: 0 0 4px -1px #ffd390c2;
  max-width: 80%;
  position: absolute;
  bottom: 0;
  transition: ease all 0.5s;
}
@media (max-width: 991px) {
  .about .firstSection h1 span {
    display: inline-block;
  }
  .about .firstSection .portrait img {
    position: static;
  }
}
@media (min-width: 1500px) {
  .about .firstSection .portrait img {
    max-width: 60%;
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 2000px) {
  .about .firstSection .portrait img {
    max-width: 40%;
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 3000px) {
  .about .firstSection .portrait img {
    max-width: 30%;
    position: absolute;
    bottom: 0;
  }
}
.about .firstSection .tab {
  margin: 0 auto;
}
.about .firstSection .tab .nav-tabs {
  border: none;
}
.about .firstSection .tab .nav-tabs .nav-link {
  background-color: #ffd39050;
  color: var(--comple1);
  border: none;
  transition: ease all 0.5s;
}
.about .firstSection .tab .nav-tabs .nav-link:focus,
.about .firstSection .tab .nav-tabs .nav-link:hover {
  color: var(--sec);
  background: var(--pri);
}
.about .firstSection .tab .nav-tabs .nav-link.active {
  background: var(--pri);
  color: var(--comple1);
  border-top: 1px solid var(--comple1);
  border-left: 1px solid var(--comple1);
  border-right: 1px solid var(--comple1);
}
.about
  .firstSection
  .tab
  .nav-tabs
  .nav-link[data-rb-event-key="autobiografia"] {
  border-top-right-radius: 0;
}
.about
  .firstSection
  .tab
  .nav-tabs
  .nav-link[data-rb-event-key="Conocimiento"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.about
  .firstSection
  .tab
  .nav-tabs
  .nav-link[data-rb-event-key="Certificados"] {
  border-top-left-radius: 0;
}
.about .firstSection .tab .tabBio .button-download {
  background-color: #ffd39050;
  font-size: 1.3rem;
  border-radius: 0.25rem;
  border-color: var(--pri);
  color: var(--comple1);
  box-shadow: 0 0 22px -16px var(--comple1);
}
.about .firstSection .tab .tabBio .button-download:hover,
.about .firstSection .tab .tabBio .button-download:active,
.about .firstSection .tab .tabBio .button-download:focus {
  background-color: var(--pri);
  color: var(--sec);
  border-color: var(--comple1);
  box-shadow: 0 0 37px -18px black, 0 0 45px -40px inset black !important;
}
.about .firstSection .tab .tabBio > p::first-letter {
  margin-left: 3%;
}
.about .firstSection .tabBio,
.about .firstSection .tabCo,
.about .firstSection .tabObj {
  background: #fff;
  box-shadow: 0 0 25px -12px inset #00000030;
  border: none;
  padding: 0.25rem;
  transition: ease all 0.5s;
}
.about .firstSection .tabCo h2,
.about .firstSection .tabCo h3 {
  font-size: 1.5rem;
}
.about .firstSection .tab .tabCo .icon1 a,
.about .firstSection .tab .tabCo .icon2 a,
.about .firstSection .tab .tabCo .icon3 a {
  text-decoration: none;
}
.about .firstSection .tab .tabCo .icon1 .logo,
.about .firstSection .tab .tabCo .icon2 .logo,
.about .firstSection .tab .tabCo .icon3 .logo {
  position: relative;
}
.about .firstSection .tab .tabCo .icon1 li strong,
.about .firstSection .tab .tabCo .icon2 li strong,
.about .firstSection .tab .tabCo .icon3 li strong {
  width: 100%;
  position: absolute;
  text-decoration: none;
  color: var(--comple1);
  transform: translate(0, -500%);
  display: block;
  transition: ease all 0.5s;
  font-size: 0.2rem;
  opacity: 0;
}
.about .firstSection .tab .tabCo .icon1 li:hover > a strong,
.about .firstSection .tab .tabCo .icon2 li:hover > a strong,
.about .firstSection .tab .tabCo .icon3 li:hover > a strong {
  opacity: 1;
  font-size: 1rem;
  transform: translate(0, 0);
}
@media (max-width: 991px) {
  .about .firstSection .tab {
    order: 1;
  }
  .about .firstSection .tab .tabCo .icon1 li:hover > a strong,
  .about .firstSection .tab .tabCo .icon2 li:hover > a strong,
  .about .firstSection .tab .tabCo .icon3 li:hover > a strong {
    font-size: 0.8rem;
  }
}
.about .firstSection .tab .tabCo .icon1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem 2rem;
  list-style: none;
  align-items: center;
}
.about .firstSection .tab .tabCo .icon2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  list-style: none;
  align-items: center;
}
.about .firstSection .tab .tabCo .icon3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  list-style: none;
  align-items: center;
  justify-items: center;
}
.about .firstSection .tab .tabCer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem 2rem;
  list-style: none;
  align-items: stretch;
  margin: 0;
  padding: 1rem;
}
.about .firstSection .tab .tabCer .liCer {
  text-align: center;
  transition: ease all 0.5s;
  cursor: pointer;
}
.about .firstSection .tab .tabCer .liCer:hover {
  transform: scale(1.1);
}
.about .firstSection .tab .tabCer .liCer > a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 0.8rem;
}

/* Dark Mode */
.dark .about .firstSection .portrait img {
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.517);
}
.dark .about .firstSection .tabBio,
.dark .about .firstSection .tabCo,
.dark .about .firstSection .tabObj {
  background: var(--comple1);
  box-shadow: 0 0 15px 5px inset #232323;
  border: none;
  padding: 0.25rem;
}
.dark .about .firstSection .tab .tabCo .icon1 li strong,
.dark .about .firstSection .tab .tabCo .icon2 li strong,
.dark .about .firstSection .tab .tabCo .icon3 li strong {
  color: var(--comple2);
}
.dark .about .firstSection .tab .tabBio .button-download {
  background-color: #ffdfaf;
}
