footer.footer {
    width: 100%;
    background-color: var(--pri);
    border-top: 1px solid var(--comple2);
    border-bottom: 1px solid var(--comple2);
}
footer.footer .footerBrand .img-logo {
    cursor: pointer;
    width: 10rem;
    height: auto;
}
footer.footer .footer-menu {
    font-size: 1.5rem;
    list-style: none;
}
footer.footer .footer-menu li a {
    color: var(--comple1);
    text-decoration: none;
}
footer.footer .footer-menu li a:hover {
    color: var(--sec);
}
footer.footer .footer-up svg {
    transition: ease all 0.5s;
    transform: rotate(180deg);
    cursor: pointer;
}
footer.footer .footer-up strong {
    font-size: 1.3rem;
}
footer.footer .footer-up h3 {
    font-size: 1.2rem;
}
footer.footer small {
    color: #6c757dad;
}