html,
body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  /* background-color: var(--comple2);
  color: var(--comple1); */
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
:root {
  --pri: #ffd390;
  --sec: #4081b3;
  --comple1: #1e1e1e;
  --comple2: #f6f6f6;
}
.btn-primary {
  background-color: var(--pri);
  border-color: var(--pri);
}
.btn-primary:hover,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #1474a85f;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.shadown-text {
  text-shadow: -1px 3px 10px #00000060;
  transition: ease all 0.5s;
}
.dark .shadown-text {
  text-shadow: -1px 3px 10px #ffffff60;
}
.t-w {
  color: var(--comple2);
}
.t-b {
  color: var(--comple1);
}
.grid-main {
  display: grid;
  grid-template:
    "header"
    "main" 1fr
    "footer"/ 1fr;
  min-height: 100vh;
  background-color: var(--comple2);
  color: var(--comple1);
  transition: ease all 0.5s;
}
.grid-area-main {
  grid-area: main;
}
.dark {
  background: #232323;
  color: var(--comple2);
}

/* Animation of lazy load image */
.LazyLoad {
  position: relative;
  background: var(--pri);
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.LazyLoad.autoSize {
  width: unset;
  height: unset;
}
.LazyLoad:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 6px solid var(--sec);
  border-right: 6px solid transparent;
  animation: spinner 0.6s linear infinite;
  transition: all 1s ease-in-out;
}
.LazyLoad.small:before {
  width: 25px;
  height: 25px;
  border-top: 3px solid var(--sec);
  border-right: 3px solid transparent;
}
.is-visible {
  background: transparent;
  overflow: visible;
}
.is-visible:before {
  opacity: 0;
}

/* Responsive */
@media (max-width: 991px) {
  .row {
    margin-left: unset !important;
    margin-right: unset !important;
  }
}
