.contact h1 > a {
  color: var(--sec);
  margin-left: 1rem;
  text-decoration: none;
  transition: ease all 0.3s;
}
.contact h1 > a > svg {
  margin-left: 1rem;
}
.contact h1 > a:hover {
  filter: brightness(0.8);
}
.contact .text-sec {
  font-size: 1.2rem;
  max-width: 60%;
  margin: 0 auto;
  color: var(--comple1);
  transition: ease all 0.5s;
}
.contact .text-sec a {
  color: #4081b3;
  text-decoration: none;
}

/* Dark Mode */

.dark .contact .text-sec {
  color: var(--comple2);
}
