.contact .text-sec {
    font-size: 1.2rem;
    color: var(--comple1);
}
.contact .text-sec a {
    color: #4081B3;
   text-decoration: none;
}
.contact .form-control {
    color: var(--comple1);
}
.contact .form-group input ~ p,
.contact .form-group textarea ~ p {
    color: #dc3545!important;
}
.contact form button {
    background-color: #ffd39050;
    font-size: 1.3rem;
    border-radius: .25rem;
    border-color: var(--pri);
    color: var(--comple1);
    box-shadow: 0 0 22px -16px var(--comple1);
}
.contact form .form-group + button[type="submit"]:hover,
.contact form .form-group + button[type="submit"]:active,
.contact form .form-group + button[type="submit"]:focus {
    background-color: var(--pri);
    color: var(--sec);
    border-color: var(--comple1);
    box-shadow: 0 0 37px -18px black, 0 0 45px -40px inset black!important;
}
.contact form button:hover svg {
    color: var(--sec)!important;
}