/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                                                              Contact

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contact .text-sec {
    font-size: 1.2rem;
    color: var(--comple1);
}
.contact .text-sec a {
    color: #4081B3;
   text-decoration: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                                                              Contact Form

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contact .form-control {
    color: var(--comple1);
}
.contact .form-group input ~ p,
.contact .form-group textarea ~ p {
    color: #dc3545!important;
}
.contact form button {
    padding: .80rem;
    background-color: #ffd390cb;
    color: var(--comple1);
}
.contact form button:hover {
    background-color: var(--pri);
    color: var(--sec);
    box-shadow: 0px 2px 30px -5px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}